.budget-container {
  background-color: lightgray;
  display: flex;
  position: relative;
  align-items: center; /* vertically centers the button */
}

.budget-title {
  color: gray;
  height: 100px;
  line-height: 100px;
  padding-left: 15px;
}

.budget-edit {
  background-color: blue;
  color: white;
  height: 35px;
  width: 45px;
  text-align: center;
  position: absolute;
  right: 30px;
}