.form-container {
  display: flex;
}

.form-title {
  margin-left: 10px;
}

.form-group {
  padding: 1rem 0.75rem;
  flex: 0 0 40%;
}

label {
  display: block;
  font-size: 1rem;
}

.form-control {
  background-color: transparent;
  border: 1px solid black;
  height: 2rem;
  width: 100%;
  font-size: 16px;
  margin: 8px 0 8px 0;
}

.btn-save {
  text-decoration: none;
  color: white;
  background-color: blue;
  letter-spacing: 0.5px;
  font-size: 14px;
  display: block;
  height: 30px;
  line-height: 30px;
  padding: 0 16px;
  margin-left: 10px;
  /* display: flex; */
  align-items: center;
}

.amount {
  font-weight: 300;
  font-size: 1rem;
  padding: 1px 3px;
}
