.add-expense-container {
  margin-top: 20px;
}

/* .form-group {
  flex: 0 0 50%;
} */

 #name {
  flex: 0 0 50%;
}

#cost {
  flex: 0 0 50%;
} 

.btn-save {
  background-color: blue;
  color: white;
  height: 35px;
  width: 55px;
}
