.add-expense-container {
  margin-top: 20px;
}

th {
  font-size: 20px;
  text-align: left;
}

#name {
  flex: 0 0 50%;
}

#cost {
  flex: 0 0 50%;
} 

.form-control {
  width: 25em;
  height: 2em;
  margin: 10px 10px 10px 0;
}

.btn-save {
  background-color: blue;
  color: white;
  height: 35px;
  width: 55px;
}
