 .expenses-container {
  margin-top: 100px;
}

#expenses-title {
  font-weight: bold;
  font-size: 25px;
}

#search {
  width: 100%;
  height: 2.5em;
}

.expense-list {
  /* margin: 1rem 0 0 0; */
  list-style-type: none; 
  /* border: 1px solid black; */
   padding: 8px; 

  display: grid;
}

/* layout expense rows */
 div.info {
  padding: 10px;
  border: 1px solid black;
  display: inline-grid; 
   /* grid-template-columns: 80% 8% 8%;  */
 justify-content: space-between;
  width: 100%;
}
 #item1 {
   grid-column: 1 / span 6;
 }

 #item2 {
   grid-column: 8 / span 1;
 }

 #item3 {
   grid-column: 9 / span 1;
 }

div.amount {
  font-weight: 30px;
  font-size: 1rem;
  color: white;;
  background-color: blue;
  border-radius: 12px;
  padding: 5px 10px; 
  justify-content: end;
 } 

 .delete-btn {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

 /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased; 
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale; 

  /* Support for IE. */
   font-feature-settings: 'liga';
}   