/* tr {
  border: 2px solid black;
  width: 100%;
} */
.expenses-container {
  margin-top: 100px;

}

#expenses-title {
  font-weight: bold;
  font-size: 25px;

}

#search {
  width: 100%;
  height: 2.5em;
}

.format-right {
  float: right;
}

.expense-row {
  justify-content: space-between;
  width: 800px;
  border-style: solid;
  border-width: 2px;
  border-color: black;
}

#expense-amount {
  background-color: blue;
  border-radius: 3px;
  color: white;
  padding: 5px;
}

.material-icons-round {
  width: 2px;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}