.expenses-container {
  margin-top: 100px;
}

#expenses-title {
  font-weight: bold;
  font-size: 25px;
}

#search {
  width: 100%;
  height: 2.5em;
}

.expense-list {
  margin: 1rem 0 0 0;
  list-style-type: none;
  border: 1px solid black;
  padding: 10px;
  display: grid;
}

/* layout expense rows */
div.info {
  padding: 10px;
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
}

span.amount {
  font-weight: 300;
  font-size: 1rem;
  color: white;;
  background-color: blue;
  border-radius: 2px;
  padding: 5px 10px; 
}

.delete-btn {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

 /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased; 
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale; 

  /* Support for IE. */
   font-feature-settings: 'liga';
}