.App-header {
  background-color: white;
  font-size: 20px;
  color: black;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.wrapper > div {
  width: 30%;
  height: 3em;
}